<!DOCTYPE html>
<html lang="en">
<% include ./include/head.ejs %>
<body>
<% include ./include/nav.ejs %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Homepage</h1>
        <p class="lead">Applicazione demo per il servizio di autenticazione SSO con JWT</p>
    </div>
</div>
<%= error %>

<% include ./include/scripts.ejs %>
</body>
</html>
