<!DOCTYPE html>
<html lang="en">
<% include ./include/head.ejs %>
<body>
<% include ./include/nav.ejs %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Area Riservata</h1>
        <p class="lead">Ciao <%= user.name + ' ' + user.familyName %>. Benvenuto nell'area riservata.</p>
    </div>
</div>

<% include ./include/scripts.ejs %>
</body>
</html>
